<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">main</a>
    <section id="bookDetails">
        <% selectedBooks.forEach(ele=>{ %>
            <div>
                <img src="<% ele.image_url %>" alt="">
                <h2><%= ele.title %></h2>
                <h3><%= ele.author %></h3>
                <p><%= description %></p>
                <button>Select</button>
            </div>
            <% }) %>
    </section>
    <!-- <%- include=('pages/books/details') %> -->
</body>
</html>