<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
    <form action="/searches" method="get" class="form-example">
        <div class="form-example">
          <label for="name">Enter your book </label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="form-example">
          <label for="author">Author: </label>
          <input type="radio" name="tit" value="author" id="author" required>
        </div>
        <div class="form-example">
            <label for="title">Title: </label>
            <input type="radio" name="tit" value="title" id="title" required>
          </div>
        <div class="form-example">
          <input type="submit" value="Go!">
        </div>
      </form>
</body>
</html>