@media screen and (min-width:480px) and (max-width:767px){
    body{
        background-color: #DDBE9F;
    }
.form-example{
    
    /* margin: auto; */
    border: black 1px solid;
}
.form-example div{
    background-color: #E0AB80;
    padding: 2em;
    width: 60%;
    margin: auto;
}
#bookShelvs div{
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0 10px #7c5340;
    background-color: #ECDFD1;

}
#dis{
    height: 70px;
    overflow-y: scroll;
}

/* Search Results */
#searchHead{
    font-weight: bold;
    font-size: large;
    font-family: cursive;
    background-color: #7c5340;
    color: #E0AB80;
    text-align: center;
    padding: 5px;

}
#bookShelvs img {
    margin: auto;
    display: block;
    box-shadow: 5px 5px 5px black;
}
#bookShelvs h2,h3{
    font-size: small;
    font-family: cursive;
    text-align: center;
    
}

}
@media screen and (min-width:767px){
    
}
